.panel-wrap {
  margin-bottom: 5px;
}

.panel-wrap.active-panel .panel-header {
  background: #396ea5;
}
.panel-wrap.active-panel .panel-header button {
  color: #ffffff;
}

.panel-header {
  border: 1px solid #396ea5;
  font-weight: normal;
  border-radius: 5px 5px 0px 0px;
}

.panel-header button {
  border: none;
  background: transparent;
}
.panel-header button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.panel-body {
  border: 1px solid #dddddd;
  background: #efefef;
  color: #333333;
  padding: 5px;
  border-top: none;
}
