html,
body {
  min-height: 100%;
  /* background-color: #f09e9e; */
  /* overflow: scroll;
  white-space: nowrap; */
  overflow: auto;
  font-family: "Ubuntu", sans-serif;

  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #fff;

  /* z-index: -1; */
  /* background: rgba(76, 175, 80, 0.3); */
}
.mainBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #fff; */
  /* background-image: url("./Images/bg2.png");
  opacity: 0.7; */
  background-color: #fff;
}

.mainDiv {
  border: 2px solid green;
  margin-top: 2.5rem;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5%;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border-radius: 40px;
  text-align: center;
  padding-bottom: 2%;
  background-color: #ffffff;
  z-index: 2;
}
.name {
  margin-left: 0.88rem;
  margin-right: 0.88rem;
  /* background-color: none; */
}
.pin {
  margin-left: 0.88rem;
  margin-right: 0.88rem;
}
.mybutton {
  margin-top: 2rem;
}

.downLogo {
  font-size: 2rem;
  margin-left: 5rem;
  /* color: #1eac5e; */
  font-weight: bold;
  margin-top: 0%;
  padding-top: 0%;
}
body,
html {
  height: 100%;
}
.cowinlogo {
  padding: 5px;
  width: 550px;
  margin-top: 2rem;
  margin-left: 30rem;
}
.acco {
  margin-top: 2rem;
  margin-left: 25rem;
  margin-right: 23rem;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  /* background-color: #1eac5e; */
}
.accord {
  color: #ffff;
}

.FAQ {
  font-size: 2.5rem;
  margin-left: 24rem;
  font-weight: bolder;
  color: #1eac5e;
  margin-top: 2.5rem;
}
.card {
  background-color: #ffffff;
}
.card-body {
  background: #ffffff;
}
.card-header {
  color: black;
  padding-left: 22%;
  font-family: "Ubuntu", sans-serif;
  font-size: larger;
}
.page-footer {
  background-color: rgba(67, 218, 125, 0.6);
}
.form-control-lg {
  height: calc(2.5em + 1rem + 2px);
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  line-height: 4.5;
  border-radius: 7.3rem;
}
.pin {
  padding-right: 1rem;
}
